
// Bootstrap Variables
@import "variables";

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

ul {
  padding:0;
  margin: 0;
  list-style: none;
}

header,
#main-nav {
  border-bottom: 1px solid #E1E3DF;
}

// Etsy seems to be using a class to set the nav height
.header-item-height {
  height: 80px
}

#etsy-logo {
  float: left;
  width: 75px;
  margin-right:20px;
  a {
    background: url('https://www.etsy.com/assets/dist/images/etsylogo.20160609191624.png');
    display: block;
    background: {
      repeat: no-repeat;
      position: center center;
    }
    width: 100%;
    height: 100%;
  }
}

#search {
  position: relative;
  float: left;
  width: 35%;
  .search-container {
    width: 100%;
    display: table;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    .search-field-wrapper {
      display: table-cell;
      width: 100%;
    }
  }
  form {
    width: 100%;
  }
  input {
    width: 100%;
    padding: 8px 15px 7px
  }
  input[type="text"] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #BCB7B3;
    border-right: none;
    background-color: #FBFBFA;
    box-shadow: inset 0 0 10px -2px rgba(0, 0, 0, 0.1);
    &:focus {
      background-color: #ffffff;
      border-color: #252525;
      outline: none;
    }
  }
  input[type="submit"]{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: white;
    border: 1px solid #2F98B1;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #34A8C4;
    &:focus {
      outline: none;
    }
  }
}

.account-nav{
  position: relative;
  ul{
    position: absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
  }
  li {
    display: inline-block;
    margin-left: 10px;
    a{
      color: $etsyBlue;
      padding: 10px;
      display: block;
      width: 100%;
    }
  }
  i {
    text-align: center;
    margin-top: -10px;
    font-size: 20px;
    display: block;
    color: #252525
  }
  .sign-in {
    border: 1px solid lightblue;
    border-radius: 3px;
    &:hover {
      background-color: transparentize($etsyBlue, .95);
      a{
        text-decoration: none;
      }
    }
  }
  .cart{
    
    &:hover a {
      text-decoration: none;
    }
  }
}

#main-nav {
  li {
    margin-right: 20px;
    cursor: pointer;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    display: inline-block;
    &:hover {
      border-bottom-color: #F16220;
      a{
        color: #000000;
      }
    }
    a {
      line-height: 38px;
      color: #222222;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#main-content {
  background-color: #F5F5F1;
  padding: 20px 0;
}

.panel {
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #E1E3DF;
  padding: 10px;
  li {
    padding: 0 0 10px 10px
  }
  a{
    color: $etsyBlue;
  }
}

.products-container {
  a {
    display: block;
  }
}

.product-card {
  margin-bottom: 20px;
  border: 1px solid #E1E3DF;
  border-bottom-color: #CBCCC9;
  border-radius: 3px;
  font-size: 12px;
  overflow: hidden;
  h6 {
    margin-top: 0;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  span {
    display: inline-block;
  }
  background-color: #ffffff;
  color: #444444;
  &:hover {
    color: #444444;
    text-decoration: none;
    box-shadow: 0 4px 1px -3px rgba(0,0,0, 0.3);
  }
  .product-img {
    background: #fafafa;
    height: 256px;
    background-size: cover;
    background-position: top center;
  }
  .product-info {
    padding: 10px;
  }
  .product-cost {
    float: right;
    color: #78C042;
  }
}


.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
